body{
    background: #8B939C;;
}

.text_course{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    background: white;
}

.profile-pic-mini{
    border-radius: 40px;
}

.comment_card{
    margin-top: 20px;
}

.margins{
    margin-top: 20px;

    margin-bottom: 20px;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 300px; /* Максимальная ширина контейнера */
    z-index: 1000; /* Переместите контейнер выше, чем остальной контент */
    overflow: hidden; /* Обрезать содержимое, если оно не вмещается */
}

.cursor-grab {
    cursor: grab;
}

.tasks {
    min-height: 450px;
}
