

body{
    color: #5A3E4A;
    background: #f7f2fa;
    font-family: Roboto;
    height: 100vh;
}

.md-card{
    background: #ffd9e3;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
}

.md-input{
    margin-bottom: 15px;
}
.md-primary{

}
.md-margin{
    margin-left:15px;
    margin-top:15px;
}
.md-color{
    color: #cde7ec;
}

.mgp{
    margin-bottom: 15px;
}

.md-background-color{
    background: #edefe5;
}
.md-left{
    margin-left: 15px;
}

.color-green{
    color: #d8e7cb;
}
@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf);
}

.text_course{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    background: white;
}

.profile-pic-mini{
    border-radius: 40px;
}

.comment_card{
    margin-top: 20px;
}

.margins{
    margin-top: 20px;

    margin-bottom: 20px;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 300px; /* Максимальная ширина контейнера */
    z-index: 1000; /* Переместите контейнер выше, чем остальной контент */
    overflow: hidden; /* Обрезать содержимое, если оно не вмещается */
}

.cursor-grab {
    cursor: grab;
}

.tasks {
    min-height: 450px;
}
